.contenido {
    display: flex;
}
.tabla-calenadrio{
    width: calc(100% - 800px);
    float:right;
    margin-top: 0;
    max-width: 800px;
    box-shadow: 0 20px rgb(0,0,0,0.1);
    border-radius: 10px;
    
}

.tabla{
    padding-top: 50px;
}


.titulo {
    text-align: center;
    margin: 0.5em 0; /* Aumentar el espacio superior e inferior */
    font-size: 24px; /* Aumentar el tamaño del texto */
    color: black;
}


.calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 800px;
}

.day {
    list-style: none;
    text-align: right;
    padding: 1em; /* Aumentar el espacio de relleno */
    margin: 0.10em;
    color: black;
}


.day-name {
    background: #ddd;
    font-weight: 700;
    text-align: center;
}


.first-day{
    grid-column: 5;
}

/* Estilos para el contenedor de la tabla */
.table-container {
    display: flex;
    justify-content: center;
    
}

  /* Estilos CSS para la tabla */
.Tabla table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    margin-top: 70px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ddd;
}

tr:hover {
    background-color: #ddd;
}