:root{
    --ColorPrincipal:#005187;
    --ColorSecundario:#4d82bc;
    --TercerColor:#84b6f4;
    --CuartoColor:#c4dafa;
    --QuintoColor:#fcffff;
    --LetraSecundaria:'Skranji', cursive;
}
img{
    max-width: 100%;
}


.HeaderPrincipal{
    display: flex;
    justify-content: space-between;
    background-color: var(--ColorSecundario);
    color: var(--QuintoColor);
    
}
.HeaderPrincipalNombre{
    margin: 15px;
}
.ContenidoPrincipal{
    margin-block: 1rem;
}
.HeaderPrincipal--Navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link1{
    color: var(--QuintoColor);
    text-decoration: none;
    margin: 5px;
}

@media(min-width:768px){
    .Cursos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
}
.Cursos{
    margin-block: 1rem;
}
.Buscador{
    display: flex;
    justify-content: center;
}
.BuscadorInformacion{
    width: 70%;
    height: 2rem;
}
.BotonInscribirseInput{
    width: 200px;
}

.cursosflex{
    display: flex;
    justify-content: space-between;
}
.BotonInscribirse{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerprincipal{
    
    background-color: var(--ColorSecundario);
    color: var(--QuintoColor);
   
}
.footerprincipaltitulo1{
    margin: 15px;
}
.footerprincipaltitulo{
    text-align: center;
    margin: 15px;
}
.listas{
    display: grid;
    grid-template-columns: 25% 25%;
    column-gap: 2rem;
    justify-content: center;
}