#Encabezado{
    font-family: Verdana;
    font-size: 18px;
}
ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}
#inicio_dia{
    grid-column-start: 5;
}
#dia_nam{
    font-family:'Arial Narrow Bold';
    background: rgb(68, 180, 214);
}
select{
    overflow: visible;
}